.error{
    color: red;
    font-size: 1.6em;
    background: linear-gradient(to right,skyblue,white);
    font-weight: 800;
    width: 100%;
    height: 40px;
    opacity: 1.4;
    border-radius: 20px;
    text-align: center;
}


.container{ 
    width: 99%;
    height: 100%;
    padding: 5px;
  
}
.info{
    margin-top: 5%;
    
}
.name{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 4em;
    padding: 20px;
    font-weight: bold;
    font-style: helvetica;
    color: black;
    float: left;
    letter-spacing: 5px;
    
     
}

.system{
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
    text-decoration-color: yellow;
}

.loginName{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 5%;
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
    text-decoration-color: yellow;
}

.paragraph{
    font-size: large;
    font-weight:500;
}
.image{
    float: right;
    width: 40%;
    height: 60%;
    position: relative;
    margin-right: 5%;
}

.image img{
    width: 600px;
    height: 400px;
    position: absolute;   
}

.btn{
    width: 30%;
    height: 60px;
    background-color: navy;
    border-radius: 25px;
    box-shadow: 3px 3px grey;
}

.btn a{
    font-size: 1.8em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}

.image2{
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    
}

.form{
    float: right;
    width: 50%;
    margin-top: 10%;
    margin-left: 3%;
    
}

.form button{
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    width: 15%;
    height: 40px;
    border-radius: 20px;
    background-color: navy;
    box-shadow: 2px 2px grey;
}
.userInput{
    width: 60%;
    height: 40px;
    padding-left: 10px;
    font-size: larger;
    border-radius: 20px;
    margin-bottom: 5%;
    box-shadow: 2px 2px grey;
}


.addDocket{
    width: 98%;
    height: 400px;
    position: relative;
    padding: 15px;
}

.image{
    width: 60%;
    height: 500px;
    position: absolute;
}

.image  img{
    margin-top: 5%;
    width: 70%;
    height: 70%;
    border-radius: 15px;
    
}
.image img:hover{
    width: 75%;
    height: 75%;
}

.image12{
   width: 60%;
    height: 800px;
    position: absolute; 
}

.image12 img{
    margin-top: 5%;
    width: 70%;
    height: 70%;
    border-radius: 15px;
}
.desc{
    float: right;
    width: 40%;
    height: 500px;
    position: absolute;
    margin-left: 50%;
}

.desc p  , .desc1 p{
    font-style: inherit;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 5%;
    margin-left: 15%;
    color: navy;
    letter-spacing: 5px;
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
    text-decoration-color: yellow;
}

.p{
    font-style: helvetica;
    font-size: 2em;
    font-weight: 400;
}

.link{
    font-style: helvetica;
    font-size: 2.4em;
    color: grey;
}

.link a{
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
    text-decoration-color: yellow;
    color: grey;
}

.link a:hover{
    color: navy;
    font-weight: bold;   
}

.formContiner{
    width: 100%;
    height: 100%;
    background-color: navy;
}

.user, .userbtn{
    width: 50%;
    height: 40px;
    padding-left: 10px;
    font-size: larger;
    margin-bottom: 2%;
    box-shadow: 2px 2px grey; 
}

.userbtn{
    color: white;
    background-color: navy;
    width: 30%;
}

.form2 label{
    font-size: 1.6em;
    color: navy;
    margin: 2%;
}

.form2, .form3{
    float: right;
    width: 40%;
    border-radius: 20px;
    box-shadow: 2px 2px grey;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
    padding: 15px;
}


.desc1{
    float: left;
    width: 40%;
    height: 500px;
    position: absolute;
    margin-left: 50%;
}

.image100  img{
    margin-top: 5%;
    width: 70%;
    height: 70%;
    border-radius: 15px;
    
}
.image100 img:hover{
    width: 75%;
    height: 75%;
}


